<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/head%>
</head>

<body>
  <header>
    <% include ./partials/header%>
  </header>
  <main role="main" class=" mt-4 mb-4">
    <div class="container text-center mt-4 p-3">
      <h1 class="mt-4">Welcome to <a href="/" class="item text-decoration-none ">Aadharbhoot Pasal.</a></h1>
      <h4>An approach to help people.</h4>
    </div>

    <div class="container-fluid">
      <div class='product-list mt-2 '>
        <h1 class="m-1 p-3 text-center display-4">View <u><%= product.title %></u>&nbsp;Details</h1>
        <div class="row p-3 d-flex justify-content-center">        
          <div class="card col-6 p-5">
            <img src="<%= product.imageUrl %>" class="card-img-top" alt="<%= product.title %>">
            <div class="card-body">
              <h1 class="card-title"><%= product.title %></h1>              
              <p class="card-text">Category:<%= product.category %></p>
              <p class="card-text">Description:<%= product.description %></p>
              <p class="card-text"><small class="text-muted">More Details coming soon.</small></p>
            </div>
             <button type="button" class="btn btn-info py-2 px-4 m-2"><i class="fas fa-cart-plus"></i>&nbsp;Add to Cart.</button><br>
            <a class="btn btn-primary px-3 m-2" href="/products/modifyProduct/<%= product._id %>"><i class="far fa-edit"></i> Edit</a>
            <a class="btn btn-danger mx-2" href="/products/deleteProduct/<%= product._id %>"><i class="fa fa-trash"></i> Delete</a>
          
          </div>


        </div>

      </div>

    </div>



    <footer class="pt-4 my-md-5 pt-md-5  mt-5 border-top text-left">
      <% include ./partials/footer %>
    </footer>
  </main>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>

</body>

</html>